{% extends 'base.html.twig' %}

{% block title %}Welcome to MindSetGO
{% endblock %}

{% block main %}
	<main>
		<section class="banner">
			<div class="container">
				<div class="row align-items-center justify-content-center">

					<div class="col-sm-10 col-lg-6 order-lg-2">
						<img class="img-fluid" src="{{asset('images/vector-presentation.jpg')}}" alt="">
					</div>

					<div class="pt-4 col-sm-10 col-lg-6 order-lg-1">
						<h1>Motiver. Inspirer. Partager.</h1>
						<p>
							Découvrer les citations de nos membres et partager les vôtres.
							<br>
						</p>
						<div class="d-flex">
							<a href="{{path('signup')}}"><button class="btn-left btn btn-warning">Découvrer nos citations</button></a>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="banner-last-quotes">
			<div class="container">
				<div class="row">
					<div class="last-quotes-header">
						<h2>Les dernières citations</h2>
						<p>Retrouver nos dernières citations ajoutées par nos membres</p>
					</div>
					<div class="row cards">
						{% for quote in last3Quotes %}
							<div class="card-body card-body--perso my-3 mx-5 col-lg-3 mx-lg-3">
								<img class="card-blockquote-img img-fluid" src="{{asset('images/blockquote.png') }}" alt="">
								<blockquote>
									<p>
										<a class="card-link" href="{{path('quote_read', {"id": quote.id})}}">
											{{quote.content}}
										</a>
										<footer class="blockquote-footer pt-2">
											<em class="author-name">{{quote.author}}</em>
										</footer>
									</p>
								</blockquote>
								<div class="card-footer">
									<div class="card-footer-member">
										<p>Postée par:
										</p>
										<a class="card-link" href="{{ path('user_read', {"slug": quote.user.slug})}}">
											<div class="card-footer-avatar" style="background-image: url('{{asset('uploadedImages/' ~ quote.user.avatar)}}')"></div>
											<p>
												{{quote.user.pseudo}}</p>
										</a>
									</div>
									<div class="card-tag px-1">
										{% for category in quote.categories %}
											<p>{{category.name}}</p>
										{% endfor %}
									</div>
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</section>

	</main>
{% endblock %}
