{% extends 'base.html.twig' %}

{% block title %}Ma page de profil
{% endblock %}

{% block main %}
	<main>
		<section class='section-profile-info'>
			<div class="container">
				<div class="row">
					<div class="profile-info px-5">
						<img class="profile-avatar" src="{{ asset ('uploadedImages/' ~ user.avatar ~ '') }}" alt="Avatar du membre">
						<p class="profile-pseudo">{{user.pseudo}}</p>
						<p>Présentation</p>
						<p class="profile-description">{{user.presentation}}</p>
						<div class="profile-btn">
							<a href="{{path('user_edit')}}"><button class="btn">Modifier profil</button></a>
							<button class="btn">Supprimer profil</button>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="banner-last-quotes">
			<div class="container">
				<div class="last-quotes-header">
					<h2>Mes citations</h2>
					<a href="{{path('quote_add')}}"><button class="btn">Ajouter une citation</button></a>
				</div>
				<div class="row cards">

					{% for quote in user.quotes %}

						<div class="card-body card-body--perso my-3 mx-4 col-lg-3 mx-lg-3">

							<img class="card-blockquote-img img-fluid" src="{{asset('images/blockquote.png') }}" alt="">

							<blockquote>
								<p>{{quote.content}}
									<footer class="blockquote-footer pt-2">
										<em class="author-name">{{quote.author}}</em>
									</footer>
								</p>
							</blockquote>

							<div class="card-footer w-75">
								<div class="card-footer-member">
									<i class="bi bi-pencil-square"></i>
									<i class="bi bi-trash-fill"></i>
								</div>
								<div class="card-tag">
									{% for category in quote.categories %}
										<div class="card-tag px-1">
											<p>{{category.name}}</p>
										</div>
									{% endfor %}
								</div>
							</div>

						</div>
					{% endfor %}
				</div>
			</div>
		</section>

		<section class="my-favorites-quotes"></section>
	</main>
{% endblock %}
