{% extends 'base.html.twig' %}

{% block title %}Page de profil
{% endblock %}

{% block main %}
	<main>
		<section class='section-profile-info'>
			<div class="container">
				<div class="row">
					<div class="profile-info px-5">
						<img class="profile-avatar" src="{{ asset ('uploadedImages/' ~ user.avatar ~ '') }}" alt="Avatar du membre">
						<p class="profile-pseudo">{{user.pseudo}}</p>
                        <p class="profile-description"> Hello tous le monde, ici vous trouverez énormément de citations que je lis et relis depuis toujours, mes préférés sont ceux sur la motivation, l'ambition et la confiance en soi.</p>
{# 						<button class="">Modifier profil</button>
 #}					</div>
				</div>
			</div>
		</section>

		<section class="banner-last-quotes">
			<div class="container">
				<div class="last-quotes-header">
					<h2>Mes citations</h2>
					<p>Hello !! Découvrez les citations que j'ai crée</p>
				</div>
				<div class="row cards">

					<div class="card-body my-3 mx-4 col-lg-3 mx-lg-3">

						<img class="card-blockquote-img img-fluid" src="{{asset('images/blockquote.png') }}" alt="">

						<blockquote>
							<p>
								Je pense donc je suis
								<footer class="blockquote-footer pt-2">
									<em class="author-name">René Descartes</em>
								</footer>
							</p>
						</blockquote>

						<div class="card-footer">
							<div class="card-footer-member">
								<p>Postée par:
								</p>
								<img class="card-footer-avatar" src="{{asset ('images/alex2.jpg') }}" alt="avatar de l'auteur">
								<p>Naïka</p>
							</div>
							<div class="card-tag">
								<p>Philo</p>
							</div>
						</div>

					</div>

					<div class="card-body my-3 mx-4 col-lg-3 mx-lg-3">

						<img class="card-blockquote-img img-fluid" src="{{asset('images/blockquote.png') }}" alt="">
						<blockquote>
							<p>
								Deux choses sont infinies : l'Univers et la bêtise humaine. Mais en ce qui concerne l'Univers, je n'en ai pas encore acquis la certitude absolue
								<footer class="blockquote-footer pt-2">
									<em class="author-name">René Descartes</em>
								</footer>
							</p>
						</blockquote>

						<div class="card-footer">
							<div class="card-footer-member">
								<p>Postée par:
								</p>
								<img class="card-footer-avatar" src="{{asset ('images/alex2.jpg') }}" alt="avatar de l'auteur">
								<p>Naïka</p>
							</div>
							<div class="card-tag">
								<p>Philo</p>
							</div>
						</div>

					</div>

					<div class="card-body my-3 mx-4 col-lg-3 mx-lg-3">

						<img class="card-blockquote-img img-fluid" src="{{asset('images/blockquote.png') }}" alt="">
						<blockquote>
							<p>
								Je pense donc je suis
								<footer class="blockquote-footer pt-2">
									<em class="author-name">René Descartes</em>
								</footer>
							</p>
						</blockquote>

						<div class="card-footer">
							<div class="card-footer-member">
								<p>Postée par:
								</p>
								<img class="card-footer-avatar" src="{{asset ('images/alex2.jpg') }}" alt="avatar de l'auteur">
								<p>Naïka</p>
							</div>
							<div class="card-tag">
								<p>Philo</p>
							</div>
						</div>

					</div>
				</div>
			</div>
		</section>

		<section class="my-favorites-quotes"></section>
	</main>
{% endblock %}
